<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (post(); as postRef) {
      <div>
        <h2 data-cy="postDetailsHeading"><span jhiTranslate="monAppTestApp.post.detail.title">Post</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ postRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="monAppTestApp.post.title">Title</span></dt>
          <dd>
            <span>{{ postRef.title }}</span>
          </dd>
          <dt><span jhiTranslate="monAppTestApp.post.content">Content</span></dt>
          <dd>
            <span>{{ postRef.content }}</span>
          </dd>
          <dt><span jhiTranslate="monAppTestApp.post.dateCreation">Date Creation</span></dt>
          <dd>
            <span>{{ postRef.dateCreation | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="monAppTestApp.post.category">Category</span></dt>
          <dd>
            @if (post()!.category) {
              <div>
                <a [routerLink]="['/category', post()!.category?.id, 'view']">{{ postRef.category?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="monAppTestApp.post.author">Author</span></dt>
          <dd>
            @if (post()!.author) {
              <div>
                <a [routerLink]="['/author', post()!.author?.id, 'view']">{{ postRef.author?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/post', postRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
